.header {
    background-color: #9F0000; /* Dark red color */
    padding: 10px 0; /* Remove horizontal padding */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px; /* Rounded corners */
    margin: 0; /* Remove default margin */
  }
  
  .header .logo img {
    height: 50px;
  }
  
  .header .search-input {
    padding: 10px;
    margin: 0 20px;
    flex-grow: 1;
  }
  
  .header .user-controls .button {
    padding: 10px 20px;
  }
  