.profile-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  
  .personal-info,
  .address-info {
    background-color: white;
    border: 2px solid red;
    padding: 20px;
    width: 45%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .info-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .info-item label {
    margin-bottom: 5px;
    color: black;
  }
  
  .buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .edit-button, .save-button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .save-button {
    background-color: #28a745;
  }
  
  .edit-button:hover, .save-button:hover {
    opacity: 0.8;
  }
  