.container {
  display: flex;
  align-items: center;
  justify-content: center;
    width: 100%;
    height: 530px;
    background-color: #FFF2D9;
  }

.divLogin{
  align-items: center;
  border-style: solid;
  display: flex;
  flex-direction: column;
    border-radius: 20px;
    width: 26%;
    height: 70%;
    background-color: rgb(255, 255, 255);
    border-color: #9e0000da;
    border-width: 5px 5px 5px 5px;
    
}

.divLogoForte{
  display: flex;
  align-items: center;
  justify-content: center;
    width:100%;
    height: 15%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}
.divInputEmail{
   /* background-color: #640000; */
  height: 20px;
  width: 60%;
  margin-top: 23%;
  margin-bottom: 15%;
}
.inputEmail{
  font-size: 15px;
  -webkit-appearance: none;  /* Remove o estilo padrão no Safari e Chrome */
  -moz-appearance: none;     /* Remove o estilo padrão no Firefox */
  appearance: none;          /* Remove o estilo padrão nos navegadores compatíveis */
  border: none;              /* Remove a borda */
  padding: 0;                /* Remove o padding */
  margin: 0;                 /* Remove a margem */
  background: none;          /* Remove a cor de fundo */
  box-shadow: none;          /* Remove as sombras */
  outline: none; 
  height: 20px;
  width: 90%;
  border-radius: 15px;
  background: linear-gradient(#ffffff 80%, #640000);
  padding-left:5%;
   
}

.inputEmail::placeholder{
  padding-left:1%;
  color: #640000;
}

.divInputSenha{
  /* background-color: #640000; */
 height: 20px;
 width: 60%;
 
}
.inputSenha{
 font-size: 15px;
 -webkit-appearance: none;  /* Remove o estilo padrão no Safari e Chrome */
 -moz-appearance: none;     /* Remove o estilo padrão no Firefox */
 appearance: none;          /* Remove o estilo padrão nos navegadores compatíveis */
 border: none;              /* Remove a borda */
 padding: 0;                /* Remove o padding */
 margin: 0;                 /* Remove a margem */
 background: none;          /* Remove a cor de fundo */
 box-shadow: none;          /* Remove as sombras */
 outline: none; 
 height: 20px;
 width: 90%;
 border-radius: 15px;
 background: linear-gradient(#ffffff 80%, #640000);
 padding-left:5%;
  
}

.inputSenha::placeholder{
 padding-left:1%;
 color: #640000;
}
.divBotoes{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  height: 8%;
  width: 100%;
  /* background-color: #997f7f; */

}
.botaoEntrar{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b80000;
height: 22px;
width: 23%;
border-radius: 6px;
}

.botaoCadastrar{
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: #9e0000da;
    border-width: 2px 2px 2px 2px;
  border-style: solid;
  margin-left: 1%;
  background-color: #ffffffd3;
height: 20px;
width: 23%;
border-radius: 6px;
text-decoration: none;
color: inherit;
}

.entrarParag{
  color: #ffffff;
}


