.header {
  height: 74px;
  background-color: #9F0000;
  padding: 10px 0; 
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 0px 0px 16px 16px;
  margin: 0;
}
.section_logo{
  margin-right: 85%;
  position: absolute;
}
.section_logo img {
  height: 50px;
  width: auto;
}
.section_input{
  position: absolute;
  margin-right: 55%;
  width: 300px;
}
.input_pesquisar{
  
  color: #9F0000;
  font-size: 100%;
  border: 0px;
  height: 10px;
  width: 290px;
  border-radius: 15px;
  padding: 10px;
  outline:none;
}
.input_pesquisar::placeholder{
color: #a02424;
}


.section_btns_user{
  align-items: center;
  margin-right: 6%;
  width: 18%;
  height: 35px;
  display: flex;
   /* background-color: #ffffff;   */
  
}


.carrinhoIcon{
  margin-top: 6%;
  height: 33px;
  width: auto; 


}
.usuarioIcon{
  height: 33px;
  width: auto; 
  
}

.logoutIcon{
  
  cursor: pointer;
  height: 33px;
  width: auto; 
}
.registrarText{
color: #ffffff;
margin-left: 20%;
font-size: 16px;
cursor: pointer;
}

.linkInconUser{
  margin-left: 33%;
  margin-right: 33%;
}