
.divCarrossel{  

align-items: center;
justify-content: center;
display: flex;
height: 250px;
width: 100%;

}

.textMaisVendidos{
    
    color: rgb(184, 67, 67);
    font-size: 20px;
    margin-top: 40px;
    margin-left: 90px;

}

.body{

    width: 100%;
    min-height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.containerCarrossel{
    
    max-width: 85vw;
   
    
}

.containerCarrossel .carrossel{

   
    
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
 
    /* background-color: rgb(3, 12, 9); */

}

.containerCarrossel .carrossel .divProduto{
    
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 210px;
    width: 200px;
    margin: 10px;
     /* background-color: rgb(199, 111, 111);  */

}

.divImgProduto{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 140px;
    width: 160px;
    background-color: rgb(255, 255, 255);

}

.buttonsSeta button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.buttonsSeta{
width: 100%;
text-align: center;
}

.setaEsquerda{
    transform: rotate(180deg);
    height: 35px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.setaDireita{
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 35px;
}
button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.carrossel::-webkit-scrollbar{
    display: none;
}

.imgCocaCola{

    height: 140px;
    width: 160px;

}
.tituloProduto{
    font-size: 12px;
    margin-left: 20px;
}

.divTituloProduto{

    align-items: center;
    display: flex;
    height: 17px;
    width: 100%;
    /* background-color: rgb(182, 95, 95); */

}

.divCompraProduto{
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 28px;
    width: 100%;
    /* background-color: brown; */

}

.divQuantidade{
    align-items: center;
    border-style: solid;
    display: flex;
    flex-direction: column;
      border-radius: 20px;
      width: 30%;
      height: 80%;
      background-color: rgb(255, 255, 255);
      border-color: #9e0000da;
      border-width: 1px 1px 1px 1px;
      margin-right: 3px;
}

.textValor{

font-size: 18px;
margin-right: 3px;
}

.divAdicionar{

    cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b80000;
height: 22px;
width: 40%;
border-radius: 6px;

}

.textAdicionar{
    color: rgb(255, 255, 255);
    font-size: 14px;
}
