.profile-container {
  width: 50%;
  margin: auto;
  padding: 20px;
  border: 4px solid #c62828;
  border-radius: 10px;
  min-height: 400px; /* Ensure the minimum height to keep the box size consistent */
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  margin-bottom: 5%

}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.tabs span {
  cursor: pointer;
  padding: 10px 20px;
  border-bottom: 2px solid transparent;
}

.tabs .active {
  border-bottom: 2px solid #c62828;
}

.personal-info, .address-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.personal-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.address-info {
  text-align: center;
}

.info-item {
  margin-bottom: 15px;
}

.info-item label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.info-item input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.buttons button {
  background-color: #c62828;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttons button:hover {
  background-color: #b71c1c;
}

